* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
/* general style */
a {
  text-decoration: none;
}
/* variables  */
:root {
  --red-color: #d80032;
}

/* first page style choose path */
.choosePath {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 900px) {
  .choosePath-page{
    height: 100vh;
  }
  
}
/* .choosePath-page{
  background-image: url("./images/bgimg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
} */
.content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 3px solid #888; */
  box-shadow: 0 13px 25px rgba(0, 0, 0, 0.1), 0 -2px 15px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  /* padding: 37px 9px; */
  padding: 0;
}
@media screen and (max-width: 700px) {
  .choosePath .content {
    height: 100%;
    margin-top: 0!important;
  }
}
.choosePath .content .logo {
  width: 251px;
  margin: 34px 0;
}
.choosePath .content .waves {
  width: 100%;
  border-radius: 10px;
}
.choosePath .content .links {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}
.choosePath .content .links a {
  background-color: var(--red-color);
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  text-align: center;
  border: 1px solid var(--red-color);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 15px;
  border: 3px solid var(--red-color);
}
.choosePath .content .links a:hover {
  background-color: white;
  color: var(--red-color);
}
.choosePath .content .links .login-btn {
  background-color: white;
  color: var(--red-color);
  border: 3px solid var(--red-color);
}
.choosePath .content .links .login-btn:hover {
  background-color: var(--red-color);
  color: white;
}

.userMedicalInfo{
  height: 111vh !important;
}
/* user register */
.userRegister {
  padding: 30px;
}
.userRegister header {
  font-size: 25px;
}
.userRegister form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  justify-content: center;
}
.userRegister .next-btn {
  background-color: var(--red-color);
  color: white;
  border: 0;
  padding: 10px 20px;
  border-radius: 30px;
  outline: 0;
  box-shadow: 0;
}

.userRegister a {
  color: var(--red-color);
  text-decoration: none;
  font-weight: 600;
  margin-right: 5px;
  margin-left: 5px;
}
.donate_time input {
  padding: 5px;
  border-radius: 5px;
  border: 1.5px solid #888;
  outline: none;
  margin-top: 5px;
  width: 100%;
}
.userRegister textarea {
  border-radius: 5px;
  outline: 0;
  border: 1.5px solid #888;
  padding: 10px;
}
.userRegister .login-btn {
  width: 60%;
  font-size: 20px;
  margin-top: 10px;
}

.login {
  width: 400px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .logo {
  width: 222px;
  margin: 0;
  height: 200px;
  object-fit: cover;
}

/* hosinfo page */
@media screen and (max-width: 800px) {
  .content {
    margin-top: 85px;
  }
  .hosinfo_row .row div,
  .hosinfo_row input {
    width: 100% !important;
  }
}

/* navbar */
.navbar {
  background: #f6f0ee !important;
  box-shadow: 0px -2px 3px -6px rgba(0, 0, 0, 0.2),
    0px 2px 6px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
  color: #490008 !important;
}
.navbar .sm-logo {
  height: 41px;
  object-fit: contain;
}
.navbar .lg-logo {
  width: 100%;
  height: 41px;
  object-fit: contain;
}
.navbar li p {
  color: #490008 !important;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-radius: 7px;
}
.navbar li:hover {
  background: none;
}
.navbar li p:hover {
  background-color: #49000918;
}
.navbar li p svg {
  margin-right: 6px;
}
/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 20px;
  height: 100%;
  object-fit: cover;
}

.swiper-slide .img2{
  background: #7aa9f2;
}
.swiper-slide .img3{
  background: #f6d5e5;
}


/* need blood page */
.blood-type{
  background-image: url("./images/Rectangle\ 35.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 20px;
  color: white;
  padding: 16px;
  height: 233px;
  position: relative;
  margin-bottom: 20px;
}
@media screen and (min-width: 1000px) {
  .blood-type{
    position: sticky;
    top: 6%;
  }
  
}
.blood-type .elipse1{
  position: absolute;
  bottom: 10%;
  right: 10%;
}
.blood-type .elipse2{
  position: absolute;
  top: 10%;
  right: 10%;
  z-index: 10;
}
.blood-type .elipse3{
  position: absolute;
  right: 30%;
  bottom: 10%;
}
.blood-type .input{
  position: relative;
  z-index: 100;
}
.blood-type .input .patient-address{
  width: 100%;
  background: white;
  border-radius: 9px 9px 0 0;
}


.blood-type .input select{
    width: 100%;
    height: 46px;
    padding: 6px;
    border: 0;
    border-radius: 9px;
    outline: 0;
    font-size: 17px;
}
.blood-type .input .input-blood{
  border-radius: 8px 10px 0 0px !important;
  /* color: #fff !important; */
  background: #fff;
}
.blood-type .check-div{
  display: flex;
  align-items: center;

}
.blood-type .check-div label{
  font-size: 18px;
  margin-left: 4px;
  
}
@media screen and (min-width: 800px) {  
  .result-card{
   border: 2px solid #9d9d9d;
   border-radius: 8px;
   padding: 0 11px;
   margin-bottom: 20px;
   min-width: 375px;
   /* margin: 0 10px; */
   margin-left: 3px;
   margin-right: 10px;
   max-height: 243px;
 }
}
.result-card{
  border: 2px solid #9d9d9d;
  border-radius: 8px;
  padding: 0 11px;
  margin-bottom: 20px;
  /* margin: 0 10px; */
  margin-left: 3px;
  margin-right: 10px;

}
.result-card .blood-name{
  position: relative;
  background: #ffb7c769;
  color: #e8315b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 95px;
  margin: 13px;
  border-radius: 13px;
}
.result-card .blood-name img{
  position: absolute;
  top: -5px;
  left: -4px;
  width: 18px;
}
.result-card .blood-name h2{
  margin-top: 22px;
  font-size: 33px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}
.result-card .blood-name p{
  font-size: 12px;
  color: #888;
}
.result-card .donor-data{
  margin-top: 11px;
}
.result-card .donor-data h1{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 13px;
}
.result-card .donor-data p{
  font-size: 17px;
    color: #777;
    display: flex;
    margin-bottom: 5px;
}
.result-card .donor-data p svg{
  width: 20px;
  margin-right: 4px;

}
.result-card .request-btn{
  text-align: right;
  border-top: 1.8px solid #888;
  margin-top: 33px;
  display: flex;
  justify-content: end;

}
.result-card .request-btn button{
  border: 0;
  background: 0;
  text-align: right;
  padding: 8px;
  color: #666;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result-card .request-btn button svg{
  width: 21px;
    margin-left: 5px;
}

/* profile page */
.profile_page{
  /* height: 92vh !important; */
}
.profile_page .profile{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 3px solid #888; */
  box-shadow: 0 13px 25px rgba(0, 0, 0, 0.1), 0 -2px 15px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  /* padding: 37px 9px; */
  padding: 20px;
}

.medical_info-btn{
  color: #650008;
  font-size: 17px;
  cursor: pointer;

}

.medical_info-btn:hover svg{
  animation: move-arrow 0.6s linear infinite;
}
@keyframes move-arrow {
  100%{
      transform: translateX(10px);
  }
}
/* requests page */
.header-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f0ee;
  margin-top: 50px;
  padding: 30px;
  border-radius: 15px;
}
@media screen and (max-width: 800px) {
.header-section{
    flex-direction: column;
    width: 90%;
    font-size: 14px !important;
  }
.header-section img {
    width: 100% !important;
  }
  
}
 .header-section img{
  width: 50%;
}
.header-section .text{
  color: #490008;
  padding: 10px;
}
 .header-section .text p{
  margin-top: 10px;
  /* font-size:20px; */

}
@media screen and (min-width: 900px) {
 .header-section .text p{
    font-size: 19px !important;
  }
}
.requests .links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
    margin-bottom: 20px;

}
.requests .links .active {
  background-color: var(--red-color);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  outline: 0;
  box-shadow: 0;
  text-align: center;
  border: 1px solid var(--red-color);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  border: 3px solid var(--red-color);
  width: 210px;
  padding: 11px 7px;

}

.requests .links .login-btn {
  background-color: white;
  color: var(--red-color);
  border: 3px solid var(--red-color);
  width: 210px;
  font-size: 14px;
  font-weight: bold;
  padding: 11px 7px;
  outline: 0;
  box-shadow: 0;
  border-radius: 10px;
}

.requests .request-btn{
  justify-content: space-around;
}
.requests .request-btn button{
  width: 100% !important;
}

.requests .request-btn .first-btn{
  border-right: 2px solid #7777 !important;
}
.requests .request-btn .accept-btn svg{
  color:green;
}
.requests .request-btn .reject-btn svg{
  color:red;
}
.requests .result-card .blood-name h2 {
  margin-top: 0 !important;
}
.requests .reject-icon{
  color: red !important;
  margin-right: 5px;
}
.requests .pending-icon{
  color: gray !important;
  margin-right: 5px;
}
.requests .done-btn{
  color: green !important;
}

/* donate page */
.donate img{
  margin-top: 34px;
  border-radius: 20px;

}
.donate h3{
     margin-top: 31px;
    margin-bottom: 11px;
    font-size: 19px;
    margin-left: 2px;
    color: #7e7d7d;
}
.donate .donate-btn{
  background-color: var(--red-color);
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  text-align: center;
  border: 1px solid var(--red-color);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border: 3px solid var(--red-color);
}

@media screen and (max-width: 600px) {
  .donate .donate-btn{
    margin-top: 20px;
  }
}

/* home page  */
/* welcome section */
/* start landing */
.landing{
  position: relative;
}
.landing::before{
  content: "";
  position: absolute;
  width: 100%;
  background: #f6f0ee;
  height: 100%;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
  top: -30px;
  left: 0;
}
.landing .container{
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  padding-bottom:120px;
}
.landing .text{
  flex:1;
}
@media(max-width:991px){
  .landing .text {
      text-align: center;
  }
}
.landing .text h1{
  letter-spacing: -2px;
  font-size: 40px;
  margin: 0;
  font-weight: 600;
  color: #e64449;
}
@media(max-width:767px){
  .landing .text h1{
      font-size: 28px;
  }
}
.landing .text p{
  font-size: 17px;
  line-height: 1.5;
  color: #818080;
  margin: 33px 0 0;
  max-width: 518px;
  text-align: justify;
}
@media(max-width:991px){
  .landing .text p{
     margin: 10px auto;
     text-align: center;
  }
}
@media(max-width:767px){
  .landing .text p{
    font-size: 14px;
    text-align: center;
  }
}
.landing .text button{
  background-color: var(--red-color);
  color: white;
  padding: 8px 13px;
  border-radius: 7px;
  text-align: center;
  border: 1px solid var(--red-color);
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  border: 3px solid var(--red-color);
  margin-top: 15px;
}
.landing .image img{
  position: relative;
  width: 600px;
  animation: up-to-down 5s linear infinite;
}
@media(max-width:991px){
  .landing .image{
      display: none;
  }
}
.landing .go-down{
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  color: #ef1d03;
}
.landing .go-down:hover {
  color: #ff5f4a;
}
.landing .go-down svg{
  animation: bouncing 1.5s infinite;
  font-size: 35px;
}

@keyframes up-to-down {
  0%,100%{
      top:0;
  }
  50%{
      top:-30px;
  }
}
@keyframes bouncing {
  0%,10%,20%,50%,80%,100%{
      transform: translateY(0);
  }
  40%,60%{
      transform: translateY(-15px);
  }
  
}
/* end landing */
/* end welcome section */
/* start WhyToDonateSection section */
.why-to-donate{
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.why-to-donate .main-title h1{
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  position: relative;
  margin-bottom: 80px;

}
.why-to-donate .main-title h1::after {
  content: "";
  width: 8px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 51px;
  left: 50%;
  transform: translateX(-50%);
  animation: moveLine 5s infinite alternate; /* Animation properties */
}

@keyframes moveLine {
  0% {
    transform: translateX(-1500%);
  }
  100% {
    transform: translateX(1300%); /* Move the line to the right */
  }
}

.why-to-donate .main-title h1::before {
  content: "";
  width: 220px;
  height: 3px;
  background-color: var(--red-color);
  position: absolute;
  top: 51px;
  left: 50%;
  transform: translateX(-50%);
}

.why-to-donate .box{
  box-shadow: 0px 2px 15px rgb(0 0 0 / 20%);
  background-color: #fcf9f8;
  border-radius: 6px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 335px !important;
}
.why-to-donate .container{
  display: grid;
  grid-template-columns: repeat(3, minmax(220px, 1fr));
  gap: 80px;

}
@media screen and (max-width: 991px) {
  .why-to-donate .container{
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.why-to-donate .box:hover{
  transform: translateY(-10px);
}
.why-to-donate .box .icon svg{
  font-size: 50px;
  color: var(--red-color);
}
.why-to-donate .box .text {
  padding:0 15px;
  text-align: center;
}
.why-to-donate .box .text h5{
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #490008;
}
.why-to-donate .box .text p{
  font-size: 14px;
  font-weight: 400;
  color: #490008;
  text-justify: center;
}
/* end WhyToDonateSection section */
/* start our states  */
/* Start Stats */
.stats{
  padding-top: 100px;
  padding-bottom:100px;
  position: relative;
  background-image:url('../src/images/blood1.jpg');
  background-size: cover;
  min-height: 300px;
}
.stats::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgb(251 242 241 / 82%);;
}
.stats h2{
  font-weight: bold;
  font-size:40px;
  position:relative;
  margin: 0 auto 40px;
  width:-moz-fit-content;
  width:fit-content;

}
.stats .container{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(250px,1fr));
  gap:20px;
}
.stats .box{
  position: relative;
  background-color: white;
  padding: 30px 15px;
  text-align: center;
  opacity: .8;
  transition: 0.3s;
}
.stats .box:hover{
  opacity:1;
}

.stats .box::before,
.stats .box::after{
  content: "";
  position: absolute;
  width: 3px;
  height: 0;
  background-color: rgb(255, 145, 145);
  transition: 0.7s;

}
.stats .box:hover::before,
.stats .box:hover::after{
  height:100%;
}
.stats .box::before{
  left: 0;
  top:0;
}
.stats .box::after{
  bottom:0;
  right:0;
}
.stats .box img{
  width: 100px;
}
.stats .box .number{
  display: block;
  font-size: 50px;
  font-weight: bold;


}
.stats .box .text{
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color:#490008;
}
/* end our states  */

/* start footer */
.blood-footer{
  position: relative;
  width: 100%;
  background: #ffffff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 19px;
  font-weight: 600;
  color: #7e4b51;
}
.blood-footer p{
  margin: 0;
}
/* end footer */
/* end home page  */

